.fp-wrapper {
  min-height: 100vh;
  background: linear-gradient(135deg, #ffffff, #ffffff);
}

.fp-card {
  width: 100%;
  max-width: 420px;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
}

.fp-icon {
  font-size: 48px;
  color: #212529;
}

.input-group-text {
  background: #f1f1f1;
}

.fp-link {
  color: #212529;
  font-size: 14px;
  text-decoration: none;
}

.fp-link:hover {
  text-decoration: underline;
}

.text-center{
  cursor: pointer;
}